{
  "extends": "@wordpress/stylelint-config/scss",
  "ignoreFiles": [
	  "**/*.js",
	  "assets/css/*.min.css",
	  "node_modules/**/*.css",
	  "vendor/**/*.css"
  ],
  "rules": {
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "apply",
		  "layer",
          "responsive",
          "screen",
          "tailwind",
          "variants"
        ]
      }
    ],
	"at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
		  "import"
        ]
      }
    ],
	"rule-empty-line-before": [
		"always",
		{
			"ignore": ["first-nested" ]
		}
	],
	"no-descending-specificity": null
  }
}
